@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form>
    <div class="notas">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese su nombre : </label>
    <input type="text" class="form-controles" 
    
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la  primera nota del laboratorio </label>
    <input type="text" class="form-control" 
    
  </div>

   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la  segunda nota del laboratorio </label>
    <input type="text" class="form-control" 
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la tercera nota del laboratorio </label>
    <input type="text" class="form-control" 
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la  primera nota del Parcial </label>
    <input type="text" class="form-control" 
  </div>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la segunda nota del Parcial </label>
    <input type="text" class="form-control"
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la segunda nota del Parcial </label>
    
    <input type="text" class="form-control" 
  </div>
    <br />
  <button type="submit" class="btn btn-primary">Submit</button>



  </div>

</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Nota Lab1</th>
      <th scope="col">Nota Lab2</th>
      <th scope="col">Nota Lab3</th>
      <th scope="col">Nota Parcial1</th>
      <th scope="col">Nota Parcial2</th>
      <th scope="col">Nota Parcial3</th>
      <th scope="col">Promedio</th>
      </tr>
  </thead>
  </table>